# Unity specific
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/

# Visual Studio / Visual Studio Code specific
*.sln
*.csproj
*.suo
*.sln.DotSettings.user
*.sln.DotSettings
*.shader

# macOS specific
.DS_Store
